@import 'fonts.css';



/* ROOT START */


:root {
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100%);
    --white: #ffffff;
    --black: #212121;
    --gblue: #00897b;
    --lgblue: #e4fdf9;
    --blue: #3949ab;
    --grey: #f0f1f1;
    /* --r700: 'RB';
    --os300: 'OSL';
    --os400: 'OSR';
    --os500: 'OSSb';
    --os700: 'OSB'; */
    --mr400: 'MR';
    --mb700: 'MB';
}

.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}

.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}

.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}



.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.mh-100 {
    min-height: 100vh;
}

.flex-grow {
    flex-grow: 1;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'MR';
}

::-webkit-scrollbar {
    max-width: 10px;
    background: var(--lgblue);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--gblue);
}


/* ROOT END */
/* *************************** */



/*  HEADER START */


.ul {
    display: flex;
}

.navli {
    margin-left: 45px;
    font-family: var(--os500);
    font-size: 20px;
    color: white;
    padding-bottom: 40px;
}

.navli:hover {
    border-bottom: 3px solid #fff;
}

.ul li:first-of-type a {
    margin-left: 0;
}

.nav {
    padding: 45px 0;
    /* background-color: transparent; */
    /* top: 0;
    right: 1px;
    position: fixed; */
    display: flex;
    justify-content: flex-end;

}

.header__nav {
    border-bottom: 1px solid var(--white);
}

/* .logo {
    font-family: var(--os700);
    color: var(--gblue);
    font-size: 25px;
    border: 2px solid var(--gblue);
    background-color: var(--lgblue);
    border-radius: 10px;
    padding: 10px 20px;
} */

.header {
    background: url(../img/hdrbg\ Rectangle.png) no-repeat center center/cover;
    background-attachment: fixed;
}

.header11h1 {
    color: var(--white);
    font-family: var(--os500);
    font-size: 48px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'MB';
}

.header11p {
    font-family: var(--os400);
    font-size: 22px;
    color: var(--white);
    /* margin-bottom: 100px; */
}

.header11a {
    color: var(--white);
    /* font-size: 20px; */
    font-family: var(--r700);
    padding: 20px 50px;
    display: inline-block;
    /* border: 2px solid var(--white); */
    margin-bottom: 100px;
    border-radius: 50px;
    background-color: #4985FF;
}

/* .header11a:last-of-type {
    margin-right: 25px;
}
 */
/* .header11a:hover {
    background-color: var(--gblue);
} */

.header11a10 {
    font-size: 30px;
    color: var(--white);
}

.header11 {
    justify-content: center;
    width: 1000px;
    margin: auto;
    margin-top: 100px;

}


/* HEADER END */
/* *************************** */



/* MAIN START */


.h2 {
    font-family: var(--os700);
    font-size: 30px;
    margin-bottom: 30px;
}

.p {
    font-family: var(--os400);
    text-align: center;
    line-height: 25px;
    width: 100%;
    max-width: 600px;
}

.about {
    justify-content: space-around;
    margin-top: 100px;
}

.abouth2 {
    width: 700px;
    text-align: center;
}

.ficon {
    margin-right: 30px;
    margin-top: -100px;
}

.about11inspan {
    font-size: 50px;
    margin-top: -150px;
}

.about11h3 {
    /* margin: 30px 0; */
    font-family: var(--os500);
    font-size: 20px;
    margin-bottom: 20px;
}

.about11p {
    color: grey;
}

.service {
    background-color: #F6F6F8;
}

.service10 {
    margin: 60px 0;
}

.service10h2 {
    font-family: 'MB';
}

.service10div {
    width: 400px;
}

.service10a {
    border-bottom: 1px solid blue;
    color: blue;
}

.service10p {
    margin-bottom: 30px;
    color: gray;
}

.service11 {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    border-top: 1px solid rgb(190, 189, 189);
    padding-top: 50px;
}

/* .service11in {
    padding: 50px;
    background-color: var(--white);
    margin-bottom: 30px;
} */

/* .service11in:hover {
    background-color: var(--gblue);
    box-shadow: 0 5px 5px 2px rgba(43, 41, 41, 0.486);
} */

/* .service11in:hover span {
    color: var(--white);
}
 */
/* .service11in:hover .service11h3 {
    color: var(--white);
}

.service11in:hover .service11p {
    color: var(--white);
}

.service11in:hover .service11a {
    color: var(--white);
    border: 2px solid white;
} */

.service11in span {
    font-size: 36px;
    color: deepskyblue;
}

.service11h3 {
    /* font-family: var(--os500); */
    font-size: 36px;
    /* margin: 30px 0; */
    margin-left: 20px;
}

.service11p {
    font-family: var(--os400);
    font-size: 15px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    color: grey;
}

.service11a {
    font-family: var(--os500);
    font-size: 20px;
    color: var(--black);
    display: inline-block;
    padding: 20px;
    border: 2px solid black;
    text-transform: uppercase;
}

/* .latwork10 {
    margin: 50px 0;
}

.latwork11a {
    font-family: var(--os500);
    font-size: 20px;
    padding: 10px;
    border: 2px solid var(--gblue);
    text-transform: uppercase;
    color: var(--black);
    display: inline-block;
}

.latwork11a:hover {
    color: var(--white);
    background-color: var(--gblue);
}

.latwork12 {
    margin: 50px 0;
    flex-wrap: wrap;
}

.latwork12in {
    position: relative;
    margin-bottom: 30px;
}

.latwork12-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.latwork12-1a {
    display: block;
    font-family: var(--os500);
    color: var(--gblue);
}

.latwork12-1a {
    display: block;
    font-family: var(--os500);
    color: var(--gblue);
}

.latwork12-1a:first-of-type {
    font-size: 20px;
}

.latwork12-1a:first-of-type {
    margin-right: 30px;
}


.latwork12in:hover .latwork12img {
    opacity: 50%;
}

.latwork12in:hover .latwork12-1 {
    opacity: 1;
}

.latwork12img {
    display: block;
}

.latworka {
    display: inline-block;
    color: var(--black);
    padding: 20px 50px;
    border: 2px solid var(--gblue);
}

.latworka:hover {
    color: var(--white);
    background-color: var(--gblue);
}

.latwork {
    margin-bottom: 100px;
}
 */
.plan {
    background-color: #504DC2;
}

.plan10 {
    margin: 100px 0;
    justify-content: space-between;
}

.plan10h2 {
    max-width: 500px;
    color: #ffffff;
}

/* .plan12 {
    background-color: var(--blue);
    padding: 80px 100px;
    color: var(--white);
    font-family: var(--os400);
}
 */
.plan13 {
    width: 300px;

}

/* .plan11a {
    display: inline-block;
}
 */
/* .plan12h3 {
    font-size: 25px;
} */

/* .plan12sp:nth-of-type(2) {
    font-size: 50px;
} */

.plan13sp {
    color: #504DC2;
}

.plan13h3 {
    margin: 20px 0;
}

/*
.plan13p::after {
    content: '';
    display: block;
    background-color: rgb(83, 81, 81);
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
} */

.plan11a {
    /* padding: 10px 20px; */
    color: black;
    /* border-bottom: 2px solid #504DC2; */
    margin-top: 50px;
    color: #504DC2;
    display: inline-block;
}

/* .plan11a:hover {
    background-color: var(--gblue);
    color: var(--white);
    border: 2px solid var(--gblue);
} */

.plan111 {
    margin-top: -100px;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

/* .plan11 {
    box-shadow: 0 5px 40px 0 gray; 
    
} */

.member {
    margin-top: 50px;
}

.memberback {
    background-color: #F6F6F8;
}

.member10h2 {
    font-family: 'MB';
}

.member10p {
    color: grey;
}

.member11 {
    margin: 0 -15px;
}

.member10 {
    margin-bottom: 100px;
}

.member11h3 {
    font-size: 20px;
    font-family: var(--os500);
    margin: 20px 0 10px;
}

.member11p {
    font-family: var(--os400);
    margin-bottom: 20px;
}

.member11a {
    color: var(--gblue);
    max-width: 50px;
    height: 50px;
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
}

.member11a:last-of-type {
    margin-right: 0;
}

.member11a:hover {
    color: var(--white);
    background-color: var(--blue);
}

.member12 {
    margin-top: 100px;
}

.member12a {
    color: var(--gblue);
    margin-right: 5px;
}

.member12a:last-of-type {
    margin-right: 0;
}

.member12a:hover {
    color: var(--blue);
}

.member11img {
    display: block;
}

.blog-in {
    margin-top: 100px;
}

.blog10h2 {
    color: white;
}

.blog10p {
    color: white;
}

.blog10 {
    margin-bottom: 50px;
}

.blog {
    background: url(../img/видео.png) no-repeat center center / cover;
}

.blog11in {
    justify-content: space-around;
    margin-bottom: 30px;
}

.blog11in:last-of-type {
    margin-bottom: 0;
}

.blog11a {
    color: var(--gblue);
    font-size: 25px;
    font-family: var(--os500);
}

.blog11-20 {
    margin: 15px 0;
}

.blog11-20p {
    font-family: var(--os500);
}

.blog11-20 p:nth-of-type(2) {
    margin-right: 30px;
}

.blog11p {
    font-family: var(--os400);
    line-height: 25px;
}

.blog11-20a {
    color: var(--black);
    margin-right: 5px;
}

.видеоdiv {
    position: relative;
    margin-bottom: -100px;
}

.bloga {
    display: inline-block;
    padding: 20px 40px;
    /* background-color: var(--gblue); */
    color: var(--white);
    font-family: var(--r700);
    /* margin-top: 50px; */
    position: absolute;
    top: 50%;
    left: 42%;
    border-radius: 50px;
    border: 2px solid white;
}


/* .contact {
    background: url(../img/footerbg.png) no-repeat center center/cover;
    color: var(--white)
}
 */
.contactin {
    padding: 100px 0;
}

.contactp10 {
    margin: auto;
}

.contact11 {
    margin: 0 -15px;
    padding: 50px 0;
}

.contact11 span {
    font-size: 50px;
    height: 80px;
    max-width: 80px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.contact11p {
    font-size: 20px;
    font-family: var(--os500);
    text-align: center;
}

.contact11a {
    font-size: 20px;
    font-family: var(--os500);
    color: var(--white);
    text-align: center;
}

.input {
    font-size: 20px;
    font-family: var(--os500);
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.inpt:first-of-type {
    margin-right: 10px;
}

.lbl {
    height: 300px;
    max-width: 630px;
}


/* MAIN END */
/* *************************** */



/* FOOTER START */


.footer {
    padding: 30px 0;
}

.footerp {
    font-family: var(--r700);
    font-size: 20px;
    color: var(--black);
}

footer span {
    padding: 0 5px;
}


/* FOOTER END */
/* *************************** */

.arrowup {
    position: fixed;
    bottom: 20px;
    font-size: 50px;
    color: var(--gblue);
    width: 100%;
}

.bar {
    display: none;
    font-size: 50px;
}



@media(max-width:1000px) {
    .member11 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact11 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog11in {
        flex-wrap: wrap;
        justify-content: center;
    }


    .ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog11img {
        height: 50vh;
    }

    .blog11-20 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header11h1 {
        font-size: 30px;
    }

    /* .about11 {
        flex-wrap: wrap;
        justify-content: space-around;
    } */

    .latwork11 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .latwork12img {
        height: 50vh;
    }

    .member11img {
        height: 50vh;
    }
}